
<header>
<Title> Tiny App </title>
    <% if (user) { %>                          <!-- if user is logged in -->
      <form method="POST" action="/logout" align= "right", style="padding-right:20px;">
        <h3>
          <a href="/urls" style= "font-family: 'Fjalla One', sans-serif; text-decoration:none;"><%= useremail%>'s links</a>
          <button type="submit" class="btn btn-outline-secondary btn-sm" style="font-family: 'Fjalla One', sans-serif;">Logout</button>
        </h3>
      </form>
    <% } else { %>                                <!-- else user is logged out -->
      <a href="/login" style="font-family: 'Average', serif; color:#04080F"; margin-right:20px">Login</a>
      <a href="/register" style="font-family: 'Average', serif; color:#9C0D38"; margin-right:20px">Register</a>
    <% } %>
</header>
