<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

     <link href="https://fonts.googleapis.com/css?family=Average|Fjalla+One" rel="stylesheet">
</head>
<body style="font-size:20px;">
 <div class='container' style="padding:5%; background-color:#DAE3E5" align="center">
   <h1 style= "font-family: 'Fjalla One', sans-serif; color:#507DBC"> Tiny App 🎉 </h1>
   <h3 style = "font-family: 'Average', serif; color:#04080F">Login and get shrinking!</h3>
   <img src ="https://media.giphy.com/media/6Nd2soOIXe1A4/giphy.gif" style="margin-bottom: 10px">
   <form action="/login" method="POST">
    <input id="email" type="email" name="email" placeholder="E-mail" style="width: 300px">
    <div>
    <br>
    </div>
    <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
    <br>
    <button type="submit" class="btn btn-outline-primary" style="font-family: 'Fjalla One', sans-serif; margin-top:10px">Login</button>
  </form>
</body>
</html>