<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <ul style="list-style: none;">
      <% for (link in urls) {%>
        <li>
          <form method="POST" action="/urls/9sm5xK/delete">
            <%= urls[link].shortURL %> – <%= urls[link].longURL %>
            <a href="/urls">Edit</a>
            <button type="submit">Delete 🗑</button>
          </form>
        </li>
      <% } %>
    </ul>
    <a href="/urls/new">Create a New Short Link</a>
  </body>
</html>