<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>

  <title>TinyApp</title>
</head>
<body>

  <main>
     <div>
        <h1> ShortURL: </h1>
          <form action= "" method="POST">
           <label for="updateURL"><%= shortURL %></label>
                <p></p>
            <input id=updateURL type="text" name=updateURL placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit New">
          </form>
     </div>
  </main>

</body>
</html>