<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

     <link href="https://fonts.googleapis.com/css?family=Average|Fjalla+One" rel="stylesheet">

  </head>
  <body>

   <div class='container' id="customColors">

    <% include ../partials/header %>
  <div class='container' style="padding:5%; background-color:#DAE3E5">
  <h1 style= "font-family: 'Fjalla One', sans-serif; color:#507DBC"> Tiny App 🎉 </h1>

  <h3 style = "font-family: 'Average', serif; color:#04080F">URLs so small, they got you like:</h3>
  <img src ="https://media.giphy.com/media/JUh0yTz4h931K/giphy.gif" style="margin-top: 20px">
    <ul style="list-style: none;">
      <% for (link in urls) {%>
        <li>
          <form method="POST" action="/urls/<%= urls[link].shortURL %>/delete">
            <%= urls[link].shortURL %> – <%= urls[link].longURL %>
            <a href="/urls" >Edit</a>
            <button type="submit">Delete 🗑</button>
          </form>
        </li>
      <% } %>
    </ul>

    <a href="/urls/new" style = "font-family: 'Fjalla One', sans-serif; color:#9C0D38">Create a New Short Link</a>
  </body>
</html>